.grid {
    margin-top: 3%;
    border: 5px solid black;
    height: 30vw;
    width: 30vw;

    display: grid;
}

.grid div{
    background-color: #BFD7EA;
    border: 1px solid black;
}

.grid div.chosen{
    background-color: #011627;
}