.options { 
    border: 1px solid black;
    height: 25vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.options button{
    height: 30px;
    padding: 0 30px 0 30px;
    border: 2px solid #011627;
    background-color: #BFD7EA;
    color: #011627;
    border-radius: 5px;
    font-size: large;
    font-family: monospace;
    box-shadow: 3px 3px 3px #3d3e3f;
    text-decoration: none;
    outline: none;
}

.options button:hover{
    background-color: #9fc9eb;
}

.options button:active {
    background-color: #9fc9eb;
    transform: translateY(2px) translateX(2px);
    box-shadow: 1px 1px 1px #3d3e3f;
}

#slider-value {
    font-size: 20px;
    font-family: monospace;
    color: #011627;
    text-shadow: 1px 1px 1px #BFD7EA;
}